<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705923835724-jbd8ckm9kmrd06pe01gbu14g3ov5iqu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705923835724-jbd8ckm9kmrd06pe01gbu14g3ov5iqu6</string>
	<key>API_KEY</key>
	<string>AIzaSyDtebXjxP2mje1H1a3jiYZ_SAm6OJQ4gYY</string>
	<key>GCM_SENDER_ID</key>
	<string>705923835724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elo.software.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-anis</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-anis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705923835724:ios:8c7bcfe249bbba2b0051e9</string>
</dict>
</plist>